@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap') 

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #FFF3E5;
}

.content-wrapper {
  text-align: center;
}

h1 {
  color: black;
  font-family: "Noto Serif", serif;
  font-size: 5em;
  letter-spacing: -0.04em;
}

p {
  color: #7D29FE;
  font-family: "Alef", cursive;
  font-size: 1.5em;
  margin: 15px 0;
}

.divider {
  color: white;
}

.icon {
  color: black;
  padding: 15px;
  border-radius: 50%;
}

.icon:hover {
  cursor: pointer;
  background-color: black;
  color: white
}